---
name: Tests
on:
  push:
  pull_request:
    types: [opened]
  schedule:
    - cron: '16 19 24 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: run tests
      run: cd test && ./run-tests.sh
    - name: shellcheck
      uses: ludeeus/action-shellcheck@2.0.0
